nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFCFB;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 10;
    color: #222;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav div a span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}